{% extends 'layout.html.twig' %}

{% block title %}Evidence zaměstnanců - Titulní strana{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/index.css') }}" />

{% endblock %}

{% block content %}
    <section>
        <h2>Nejnovější uživatelé</h2>
        <ul>
            {% for user in users %}
                <li>
                    <img src="{{ user.image }}" alt="{{ user.name }}" width="50">
                    <strong>{{ user.name }}</strong>
                </li>
            {% else %}
                <li>Žádní uživatelé nejsou dostupní.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
