{% extends 'layout.html.twig' %}

{% block content %}
    <section class="form-section">
        <h2 class="form-title">Delete Account for {{ account.employee.name }}</h2>
        <p>Are you sure you want to delete the account "{{ account.name }}"?</p>
        {{ form_start(form) }}
        <button type="submit" class="form-button danger">Yes, Delete Account</button>
        {{ form_end(form) }}
    </section>
{% endblock %}
