ul {
    padding: 0;
}

li {
    border: 0.063rem solid var(--table-border-color);
    border-radius: var(--border-radius);
    padding: var(--padding-base);
    margin: var(--padding-small) 0;
    background-color: #fafafa;
}


.edit-button {
    display: inline-block;
    padding: var(--padding-small) var(--padding-base);
    border: 1rem solid var(--highlight-color);
    color: var(--highlight-color);
    border-radius: var(--border-radius);
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.edit-button:hover {
    background-color: var(--highlight-color);
    color: white;
}


