table {
    width: 100%;
    border-collapse: collapse;
    margin-top: var(--padding-base);
    background-color: white;
    box-shadow: var(--shadow-light);
    border-radius: var(--border-radius);
    overflow: hidden;
}

th, td {
    padding: var(--padding-small);
    text-align: left;
    border-bottom: 0.063rem solid var(--table-border-color);
}

th {
    background-color: var(--table-header-bg);
    font-weight: 600;
    color: var(--main-text-color);
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #ececec;
}

.edit-button, .delete-button {
    display: inline-block;
    padding: var(--button-padding);
    font-size: var(--font-size-base);
    border-radius: var(--border-radius);
    text-align: center;
    text-decoration: none;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.edit-button {
    background-color: var(--edit-button-color);
}

.edit-button:hover {
    background-color: var(--edit-button-hover-color);
}

.delete-button {
    background-color: var(--delete-button-color);
}

.delete-button:hover {
    background-color: var(--delete-button-hover-color);
}
