{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{ asset('css/error.css') }}" />
{% endblock %}

{% block title %}Evidence zaměstnanců - Chyba{% endblock %}

{% block content %}
    <h2>Došlo k chybě!</h2>
    <p>Omlouváme se, ale došlo k chybě při zpracování vaší žádosti.</p>
{% endblock %}
