{% extends 'layout.html.twig' %}

{% block title %}Evidence zaměstnanců - Přehled zaměstnanců{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/employees.css">
{% endblock %}

{% block content %}
    <section>
        <h2>Seznam zaměstnanců</h2>
        <ul>
            {% for employee in employees %}
                <li>
                    <img src="{{ employee.image }}" alt="{{ employee.name }}" width="50">
                    <strong>{{ employee.name }}</strong> - {{ employee.role }}
                </li>
            {% else %}
                <li>Žádní zaměstnanci nejsou dostupní.</li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
