<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" href="/css/general.css">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<header>
    <h1>Evidence zaměstnanců</h1>
    <nav>
        <button onclick="location.href='?page=index'">Titulní strana</button>
        <button onclick="location.href='?page=employees'">Přehled zaměstnanců</button>
        <button onclick="location.href='?page=employee_detail'">Detail zaměstnance</button>
        <button onclick="location.href='?page=employee_accounts'">Účty zaměstnance</button>
        <button onclick="location.href='?page=error'">Chyba</button>
    </nav>
</header>

<main>
    {% block content %}{% endblock %}
</main>

<footer>
    <p>&copy; 2024 Evidence zaměstnanců</p>
</footer>
</body>
</html>
